:root {
    --color-white: white;
    --color-brown: #6F5c49;
    --color-grey: #676767;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.add-block-box {
    text-align: center;
}

.add-block {
    font-size: 40px;
    background: #a2a2a7;
    color: white;
    border-radius: 32px;
}

.add-block:hover {
    background:#535367;
    cursor: pointer;
}

.column-choises {
    text-align: left;
    display: flex;
}

.column-choise > div {
    padding:10px;
}

.hidden {
    display: none !important;
}

.added-column {
    margin-top: 10px;
    color: white;
}

.row-container {
    padding:0px !important;
}

.block-item-type:hover {
    cursor: pointer;
}


.block-item-type.active {
    background-color: #cfcfe1;
}


.error-message {
    color: red;
}

label.block-item-type-label {
    width:100%;
    padding:10px;
}

label.block-item-type-label:hover {
    cursor: pointer;
}

.save-block-box {
    position: absolute;
    top: 3px;
    right: 50px;
}

.column-choises {
    padding:10px;
}

.one-column {
    width:100%;
    height: 40px;
    background: grey;
}

.two-column {
    height: 40px;
    width:50%;
    background: grey;
}

.three-column {
    width:33.3%;
    height: 40px;
    background: grey;
}

.four-column {
    width:25%;
    height:40px;
    background:grey;
}

.column-choises >div {
    margin-left: 10px;
}

.column-choises >div:hover {
    cursor:pointer;
}

.column-choises:hover {
    background:#e8e8e8;

}

i.bx.bx-plus.add-block-item{
    font-size:25px;
    color: grey;
    font-weight: 800;
}

i.bx.bx-plus.add-block-item:hover {
    cursor: pointer;
}

.block-textarea {
    width:100%;
}

.note-editor.note-frame.panel.panel-default {
    background:white;
}

.panel-heading.note-toolbar {
    border-bottom: 1px solid black;
}
.note-editable {
    color: black;
    text-align: left;
    background:grey;
}

.home-row >div {
    position: relative;
}

.row.existing-block-row >div {
    background-color: blue;
}

.added-column {
    color: black;
    position:relative;
}

.edit-block {
    position: absolute;
    left: 10px;
    color: grey;
    font-weight: 800;
    font-size: 20px;
    top: 0;
    z-index: 100;
}

.cancel-block {
    position: absolute;
    left: 50px;
    color: red;
    font-weight: 800;
    font-size: 20px;
    top: 0;
    z-index: 100;
}

.edit-block:hover {
    cursor: pointer;
}

.cancel-block:hover {
    cursor: pointer;
}

.cancel-edit-block {
    text-align: center;
    color: white;
}

.existing-blocks {
    margin-top:25px !important;
}

.edit-columns-row:hover {
    cursor: pointer;
}

.edit-columns-row {
    position: absolute;
    color: grey;
    font-weight: 800;
    right:50%;
    width: 22px !important;
    top: 20px;
    margin-top:-20px;
    z-index:999;
    font-size: 24px;
}

i.edit-column-row-icon.bx.bx-move {
    position: absolute;
    right: 63px;
    top: 5px;
    font-size: 21px;
}

.edit-column-modal-content {
    text-align: left;
}

i.bx.bx-plus.add-block-item {
    position: absolute;
    left: 50%;

    color: grey;
    font-weight: 800;
}

.delete-columns-row {
    position: absolute;
    right: 25px;
    width: 30px !important;
    top: 0px;
    font-size: 25px;
    color: red;
}

.delete-columns-row:hover {
    cursor: pointer;
}

.row-container {
    position: relative;
}

.added-block-row {
    position: relative;
}
.edit-parent-column:hover {
    cursor: pointer;
}

.edit-parent-column {
    color: grey;
    font-weight: 800;
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 24px;
    width: 20px !important;
}

.full-width-box {
    margin-left: auto;
    margin-right: auto;
}

.note-editable:hover {
    cursor: pointer;
}

.previewImg {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.block-value {
    position: relative;
}

.slider-text {
    position: absolute;
}
img.uploaded-image {
    width: 100%;
}

.slider-image {
    border-radius: 0px;
    height: 600px;
    max-height: 630px;
    background-size: cover;
    background-position: center center;
}

.custom-slider {
    height: 630px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider-text {
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
}

.add-block-box-header{
    width: 100%;
    background:#d6d6d6;
    margin-left: -10px;
    position: fixed;
    z-index: 1050;
}

.modal {
    z-index: 9999;
}

button.btn.btn-secondary.editor-buttons > a {
    color: black !important;
    text-decoration: none;
}

button.btn.btn-secondary.editor-buttons > b > a {
    color: black !important;
    text-decoration: none;
}

button.btn.btn-secondary.editor-buttons > a:hover {
    color: var(--color-brown)
}
i.edit-column-row-icon.bx.bx-move {
    color: grey;
}


li.splide__slide.splide_impression_slide{
    width:320px;
}

.splide__slide_image {
    height: 300px;
    margin-right: 10px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

@media(min-width: 576px) {
    li.splide__slide.splide_impression_slide{
        width:500px;
    }

    .splide__slide_image {
        height: 500px;
    }
}

@media(min-width: 768px) {
    li.splide__slide.splide_impression_slide{
        width:600px;
    }

    .splide__slide_image {
        height: 500px;
    }
}

@media(min-width: 992px) {
    li.splide__slide.splide_impression_slide{
        width:700px;
    }

    .splide__slide_image {
        height: 500px;
    }
}

@media(min-width: 1200px) {
    li.splide__slide.splide_impression_slide{
        width:800px;
    }

    .splide__slide_image {
        height: 600px;
    }
}
