:root {
    --color-white: #F7F5F3;
    --color-brown: #676767;
    --color-grey: #1D140C;
}

button.configurator-accordion-button {
    border: none;
    box-shadow: none !important;
    background: var(--color-brown) !important;
    color: white !important;
    border-radius: 0px !important;
}

a.accordion-dummy-button:hover {
    cursor: pointer !important;
}


.configurator-column {
    margin:0;
    padding:0;
}

.accordion-button::after {
    display: none;
}

.configurator-accordion-item {
    border:none !important;
    margin-bottom: 10px;
}

input.switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

/*can be used again for every switch*/
label.switch-label {
    line-height: 38px;
    cursor: pointer;
    width: 100%;
    max-width:250px;
    height: 44px;
    border:2px solid var(--color-brown);
    border-radius: 0px;
    color: var(--color-grey);
    display: block;
    position: relative;
    margin-top:-25px;
}

input.switch:checked + label#switch-label:after {
    border-radius: 5px;
    text-align: center;
}

label.switch-label:after {
    position: absolute;
    line-height: 25px;
    text-align: center;
    top: 5px;
    color: var(--color-white);
    left: 5px;
    width: 45%;
    height: 30px;
    background: var(--color-brown);
    border-radius: 5px;
    border: 1px solid var(--color-brown);
    transition: 0.3s;
}

input.aantal-switch:checked + label#aantal-switch-label:after {
    content: 'Dubbele deur';
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

input.greep-switch:checked + label#greep-switch-label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    content: '55cm';
}

input.type-greep-switch:checked + label#type-greep-switch-label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    content: 'Klink';
}

input.greep-option-switch:checked + label#greep-option-switch-label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    content: 'Ja';
}

input.draairichting-switch:checked + label#draairichting-switch-label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    content: 'Rechts';
}

label#greep-switch-label:after {
    content: '35cm';
}

label#type-greep-switch-label:after {
    content: 'Greep';
}

label#aantal-switch-label:after {
    content: 'Enkele deur';
}

label#draairichting-switch-label:after {
    content: 'Links';
}

label#greep-option-switch-label:after {
    content: 'Nee';
}

span#align-left {
    width:50%;
    position: absolute;
    text-align: center;
    color:black;
}

span#align-right {
    width:50%;
    position: absolute;
    text-align: center;
    color:black;
    right: 0;
}

.type-door-box {
    height: 90px;
}

.configurator-colorcategory-tumnail-title {
    font-weight: bold;
    padding-left: 10px;
}

.configurator-colorcategory-tumnail {
    width: 100%;
    height:190px
}

.configurator-color-category-tumnbail.active {
    border: 4px solid black;
}


.color-modal-back:hover {
    cursor: pointer;
}

a.color-modal-back {
    color: black;
    text-decoration: none;
    padding-left: 10px;
}

img.configurator-colorcategory-tumnail:hover {
    cursor: pointer;
}

.btn-add-color, .btn-add-color-sample, .btn-configurator {
    background-color:var(--color-grey);
    border-color:var(--color-brown);
}

.btn-add-color:hover, .btn-add-color:focus, .btn-add-color:active, .btn-add-color-sample:hover, .btn-add-color-sample:focus, .btn-add-color-sample:active, .btn-configurator:hover, .btn-configurator:focus, .btn-configurator:active{
    background-color:var(--color-brown) !important;
    border-color:var(--color-brown) !important;
}

.selected-color-box {
    background: var(--color-grey);
    border: 1px solid var(--color-brown);
    color:  var(--color-white);
    padding-left: 20px;
    padding-right: 20px;
}

.btn-add-color.disabled, .btn-add-color:disabled, fieldset:disabled .btn {
    background-color:var(--color-grey);
    border-color:var(--color-brown);
}
.btn-add-color-sample.disabled, .btn-add-color-sample:disabled, fieldset:disabled .btn {
    background-color:var(--color-grey);
    border-color:var(--color-brown);
}

i.bx.bx-x.color-box-trash {
    margin-right: -15px;
}

button.selected-color-box:hover {
    cursor: auto;
}

i.bx.bx-x.color-box-trash:hover {
    cursor: pointer;
}

.configurator-colorcategory-tumnail.active {
    border:2px solid black;
}

button.selected-color-box {
    margin-right: 15px;
}

.tooltip-box:hover {
    cursor: pointer;
}

i.bx.bxs-help-circle.tooltip-box {
    color: black;
}

.modal:nth-of-type(even) {
    z-index: 1600 !important;
}
.modal-backdrop.show:nth-of-type(even) {
    z-index: 1061 !important;
}

.modal.lightbox {
    z-index: 99999;
}

.tooltip-modal-body {
    font-size:16px;
}

.color-modal-header {
    padding-right: 50px;
}

.configurator-image {
    height: 375px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.filter-value-checkbox {
    margin-left: 10px;
}

.erase-filter {
    background: var(--color-grey);
    color:  var(--color-white);
    padding-right: -12px;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 10px;
    width: 115px;
    padding-left: 15px;
    height: 30px;
    line-height: 30px;
}

.erase-filter:hover {
    cursor: pointer;
}
.splide__slide {
    margin-right: 15px;
}
.splide__slide>img {
    width: 100%;
}

.type-door-list.active {
    border:3px solid var(--color-grey);
}
img.model-door-image.active {
    border: 3px solid var(--color-grey);
}
img.model-door-image:hover {
    cursor: pointer;
}

.glass-door-list.active {
    border: 3px solid var(--color-grey);
}
.glass-door-list:hover {
    cursor: pointer;
}

.glass-door-list {
    border: 1px solid var(--color-grey);
}

.type-door-list.active {
    border: 3px solid var(--color-grey);
}
.type-door-list:hover {
    cursor: pointer;
}

.type-door-list {
    border: 1px solid var(--color-grey);
}
.splide__list {
    padding-right:30px !important;
}

.color-box {
    position: relative;
}

.open-color-box {
    position: absolute;
    right: 0;
}

.next-accordion {
    position: absolute;
    right: 0;
}

.color-button-box > div {
    display: inline-grid;
}

.selected-color-box {
    margin-bottom:10px;
}

.configurator-color-category-tumnbail {
    height: 200px;
}

.configurator-color-category-tumnbail:hover {
    cursor: pointer;
}

@media(min-width: 576px) {
    .assembly-column {
        height: 100vh;
        overflow-y: auto;
    }

    .configurator-image {
        max-height: 100vh;
        height: 100vh;
    }
}

@media(min-width:768px) {
    .configurator-color-category-tumnbail {
        height: 300px;
    }
}
@media(min-width:576px) and (max-width:991.98px) {
    .configurator-image {
        height: 100vh;
        background-position: left 54% top 50%;
    }
}

@media (min-width: 1400px) {
    .configurator-color-category-tumnbail {
        height: 400px;
    }
}

div#doorConfigurator {
    position: relative;
    background: var(--color-white);;
}

.image-column {
    overflow: hidden;
    position: relative;
}

.zoom-button-box {
    position: absolute;
    top: 0;
    z-index: 999;
}

.zoom-button {
    background-color: var(--color-brown);
    border: none;
    color:  var(--color-white);
    font-size: 25px;
}

li.type-door-list>img {
    height: 100px;
}

li.type-door-list>img:hover {
    cursor: pointer;
}

li.type-door-list {
    list-style: none;
    display: inline;
}

ul.type-door-images {
    padding: 0;
}

li.type-door-list>img.active {
    border: 2px solid var(--color-brown);
}

.color-image{
    position: relative;
    padding:10px;
}

.col-form-label {
    font-weight: bold;
}

.splide__arrow {
    transition: opacity .3s ease;
}
.splide__arrow:disabled {
    opacity: 0;
    pointer-events: none;
}

.splide__title {
    text-align: center;
}

.form-control:focus {
    border-color:var(--color-brown);
    box-shadow: none;
}
.col-12.form-stable {
    padding: 0px;
}


span#basic-addon2 {
    background: var(--color-grey);
    color: var(--color-white);
}

.button-next-accordion-box {
    margin-bottom: 20px;
    position: relative;
}

.montage-options {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.montage-options input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.montage-options:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.montage-options input:checked ~ .checkmark {
    background-color: var(--color-brown);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.montage-options input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.montage-options .checkmark:after {
    top: 0;
    left: 7px;
    color: var(--color-white);
    width: 8px;
    height: 8px;
    border-radius: 0;
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    content: "\f00c";
}

.form-cols {
    padding-left: 10px;
    padding-right: 0;
}

.row-no-padding {
    padding:0;
}

.form-floating {
    padding-left: 0;
    margin-bottom: 10px;
}

.strong-label {
    font-weight: bold;
}

.overview-box {
    font-size: 15px;
}

.overview-label {
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 15px;
    border-bottom: 1px solid;
    font-weight: bold;
    color: var(--color-brown);
}

.selected-colors {
    background: var(--color-grey);
    width: 120px;
    text-align: center;
    color: var(--color-white);
    margin-bottom: 5px;
}

.price-box {
    position: absolute;
    right: 25px;
    top: 25px;
    background: var(--color-brown);
    color: var(--color-white);
    padding: 16px;
    border-radius: 30%;
    text-align: center;
}

.right-finish-accordion {
    position: absolute;
    right: 0;
}

img.door-klink-image {
    max-height: 100px;
}

img.door-klink-image.active {
    border:2px solid var(--color-grey)
}

li.color-greep {
    display: inline-block;
    padding-right: 15px;
}

li.color-greep:hover {
    cursor: pointer;
}

ul.color-greep-list {
    list-style: none;
    padding-left: 0px;
    display: inline-block;
}

.color-item {
    border-radius: 30px;
    background: red;
    height: 30px;
    width: 30px;
}

#color-rvs {
    background-color:#afabaf;
}

#color-brons {
    background-color: #b08d57;
}

#color-black {
    background-color: black;
}

.border-box.active {
    border: 2px solid var(--color-brown);
    height: 38px;
    width: 38px;
    padding-left: 2px;
    padding-top: 2px;
    border-radius: 38px;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
}

.spinner{
    height: 120px;
    width: 120px;
    border: 6px solid;
    border-color: var(--color-white) transparent white transparent;
    border-radius: 50%;
    animation: spin 1.3s linear infinite;
    z-index: 999;
}

/* Add a right margin to each icon */
.fa {
    margin-right: 8px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.configurator-text {
    margin-top:50px;
    margin-bottom:50px;
}

.display-none {
    display: none;
}
button.accordion-dummy-button {
    border: none;
    background: transparent;
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline;
    padding: 0px;
}

.lookup-image {
    position: absolute;
    right: 20px;
    bottom: 38px;
    font-size: 40px;
    color:white;
}
.lookup-image>a {
    color:white;
}

.lookup-image:hover {
    cursor: pointer;
}

