.page {
    background-color:#F7F5F3; !important;
}

:root {
    --color-white: white;
    --color-brown: #6F5c49;
    --color-grey: #676767;
}


ul.navbar-nav {
    margin-top: 15px;
}

body *:not(html):not(style):not(br):not(tr):not(code) {
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


h1,h2,h3,h4,h5,h6 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size:46px !important;
}

h2 {
    font-size: 48px !important;
}

h3 {
    font-size:34px !important;
}


h4 {
    font-size:24px !important;
    line-height:30px !important;
    margin-bottom: 18px !important;
}

h6 {
    font-size:22px !important;
}

p {
    margin: 0!important;
    font-size: 16px !important;
    line-height: 30px;
}


@media(max-width: 992px) {
    h2 {
        font-size: 38px !important;
        line-height: 46px !important;
    }

    p {
        font-size: 14px !important;
    }
}
.home-slider {
    height: 775px;
    background-position: center center;
    background-size: cover;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

.logo {
    height:73px;
}

button.btn.btn-primary {
    background:#1D140C;
    color: white;
    border: none;
}

.col-12.points-box {
    background: #1D140C;
    color: white;
    padding-top: 10px;
    padding-bottom:15px;
}

ul.points-box-ul>li {
    display: inline;
    font-size: 12px;
    padding-right: 10px;
}

.check-icon {
    padding-right: 5px;
}
ul.points-box-ul {
    padding-left: 0px;
    list-style: none;
    height: 0px;
}

.slide_points_slide {
    padding-right: 40px;
}


button.btn.btn-primary.samenstellen {
    position: absolute;
    right: 85px;
    top:32px;
}
button.btn.btn-primary >a {
    text-decoration: none;
    color: white;
}

button.btn.btn-primary:focus, button.btn.btn-primary:checked, button.btn.btn-primary:active, button.btn.btn-primary:focus-visible {
    background:#1D140C;
    color: white;
    border: none;
}

.added-column {
    padding: 0px;
}

.block-texteditor {
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px
}
.block-imageeditor {
    padding-left: 15px;
}

.block-contact-form {
    padding-left: 15px !important;
}


.footer-item-2 {
    margin-bottom: 50px;
}


.footer-item-4 {
    margin-bottom: 50px;
}

.block-impressions {
    padding:0px;
}

.col-12.magazine-blok {
    background:white;
    min-height: 320px;
    margin-top: -185px;
    border-radius: 15px;
    padding:0px;
}

.magazine-image {
    height: 320px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
}


@media(max-width: 576px) {
    .hidden-xs {
        display: none;
    }

}

@media(min-width: 576px) {

    #check-box-1 {
        display: inline;
    }

    #check-box-2 {
        display: inline;
    }

    #check-box-3 {
        display: inline;
    }

    #check-box-4 {
        display: inline;
    }


    ul.points-box-ul>li {
        font-size: 11px;
        padding-right: 10px;
    }

    button.btn.btn-primary.samenstellen {
        right: 180px;
    }
    .hidden-sm {
        display: none;
    }

    .container.footer-container {
        padding:0px;
    }
    .added-column {
        padding: 15px;
    }
}
@media(min-width:768px) {

    #check-box-3 {
        display: inline;
    }

    #check-box-4 {
        display: inline;
    }


    .magazine-image {
        height:300px;
    }

    .block-texteditor {
        padding-left: 0;
    }
    .block-imageeditor {
        padding-left: 0px;
    }

    .block-contact-form {
        padding-left: 0px;
    }

    .container.magazine-container {
        padding:15px;
    }

    .footer-item {
        padding:0px;
    }

    button.btn.btn-primary.samenstellen {
        right: 210px;
    }

    h1 {
        font-size:56px !important;
    }


    h3 {
        font-size:40px !important;
    }

    ul.points-box-ul>li {
        font-size: 12px;
        padding-right: 20px;
    }

    .hidden-md {
        display: none;
    }
    .vissible-md {
        display: block;
    }
}
@media(min-width:992px) {
    ul.navbar-nav >li {
        margin-right: 60px;
    }
    .vissible-lg {
        display: block;
    }
    ul.navbar-nav {
        margin-top: 0px;
    }
    .hidden-lg {
        display: none;
    }

    .logo {
        height:89px;
    }

    ul.points-box-ul>li {
        font-size: 12px;
        padding-right: 30px;
    }

    button.btn.btn-primary.samenstellen {
        padding:13px 18px;
        position: relative;
        right: 0;
        top: 0;
    }
}

@media(min-width:1200px) {
    .magazine-image {
        height:400px;
    }
    ul.points-box-ul>li {
        font-size: 14px;
        padding-right: 40px;
    }
}

@media(min-width:1400px) {
    .magazine-image {
        height:100%;
    }
}



a {
    text-decoration: none;
}

.editor-buttons {
    background:white !important;
    color: #1D140C !important;
    border:none !important;
}

.dashboard {
    position: absolute;
    top: 10px;
    left: 50px;
}

img.footer-image {
    height: 124px;
}


.footer-box {
    background-color:#1D140C;
    color: white;
    padding-top: 50px;

}

.footer-row {
    padding:0px;
}



.magazine-row {
    position: relative;
}


.magazine-column {
    padding:10px;
}

.footer-item>p * {
    color: white !important;
}

.footer-item>p *>a:hover {
    color: var(--color-brown) !important;
}


.block-impressions > .added-column {
    padding:0px !important;
}

table.table.table-bordered >tbody>tr>td {
    background:transparent;
    padding:0px;
}
table.table.table-bordered {
    border-color:transparent;
}


.magazine-column {
    color: #1D140C;
}
.form-column{
    padding-left: 0 !important;
    margin-bottom: 15px !important;
}

.striped-link {
    color: #1D140C;
    text-decoration: underline;
}

.row.form-row.checkbox-row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.row.form-row.send-row {
    margin-bottom: 20px;
}
button.btn >a {
    text-decoration: none !important;
}

input.form-control {
    height: 40px;
    background: #f5f5f5;
}
textarea.form-control {
    background: #f5f5f5;
}

select.form-control {
    background: #f5f5f5;
    height: 55px;
}

button.btn-primary.btn.magazine-btn {
    padding: 15px;
}

div#succes-alert {
    background: #f5f5f5;
    border-color: #1D140C;
}

.splide__slide_review_text {
    text-align: center;
}

.btn-review {
    margin-top:30px;
    margin-bottom:50px;
}
hr {
    border: 1px solid #d6d6d6 !important;
    opacity: 0.5 !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top {
    background: #F7F5F3 !important;
    border-bottom: 1px solid #1d140c;
}


.display-none {
    display: none !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    font-weight: bolder;
}

.crewa-logo {
    height: 15px;
    width: 15px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.crewa-logo >a > img {
    height: 20px;
}

a.nav-link {
    font-size: 18px;
}

li.nav-item {
    padding-left: 15px;
}
