.page {
    background-color:#F7F5F3; !important;
}

:root {
    --color-white: white;
    --color-brown: #6F5c49;
    --color-grey: #676767;
}


ul.navbar-nav {
    margin-top: 15px;
}

body *:not(html):not(style):not(br):not(tr):not(code) {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p {
    font-family:'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family:'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size:46px !important;
}

h2 {
    font-size: 32px !important;
}

h3 {
    font-size:34px !important;
}


h4 {
    font-size:24px !important;
    line-height:30px !important;
    margin-bottom: 18px !important;
}

h6 {
    font-size:22px !important;
}

p {
    margin: 0!important;
    font-size: 16px !important;
}




@media(max-width: 992px) {
    h2 {
        font-size: 26px !important;
        line-height: 46px !important;
    }

    h3 {
        font-size: 22px !important;

        line-height: 20px !important;
    }

    p {
        font-size: 14px !important;
    }
    .reservation-button {
        width:100%;
    }

}
.home-slider {
    height: 775px;
    background-position: center center;
    background-size: cover;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

.logo {
    height:73px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color:white !important;
    text-decoration: underline;
    font-weight: bold;
}

.nav-link:focus, .nav-link:hover {
    color:#9a7067 !important;
}

footer-item-1 {
    text-align: center;
}

button.btn.btn-primary {
    background:#4d3631;
    color: white;
    border: none;
}

a.btn.btn-primary.reservation-button {
    background:#4d3631 !important;
    color: white !important;
    border: none !important;
}

.col-12.points-box {
    background: #1D140C;
    color: white;
    padding-top: 10px;
    padding-bottom:15px;
}

ul.points-box-ul>li {
    display: inline;
    font-size: 12px;
    padding-right: 10px;
}

.check-icon {
    padding-right: 5px;
}
ul.points-box-ul {
    padding-left: 0px;
    list-style: none;
    height: 0px;
}

.slide_points_slide {
    padding-right: 40px;
}


button.btn.btn-primary.samenstellen {
    position: absolute;
    right: 85px;
    top:32px;
}
button.btn.btn-primary >a {
    text-decoration: none;
    color: white;
}

button.btn.btn-primary:focus, button.btn.btn-primary:checked, button.btn.btn-primary:active, button.btn.btn-primary:focus-visible {
    background:#4d3631;
    color: white;
    border: none;
}

.added-column {
    padding: 0px;
}

.block-texteditor {
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px
}
.block-imageeditor {
    padding-left: 15px;
}

.block-contact-form {
    padding-left: 15px !important;
}


.footer-item-2 {
    margin-bottom: 50px;
}


.footer-item-4 {
    margin-bottom: 50px;
}

.block-impressions {
    padding:0px;
}

.col-12.magazine-blok {
    background:white;
    min-height: 320px;
    margin-top: -185px;
    border-radius: 15px;
    padding:0px;
}

.magazine-image {
    height: 320px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
}


@media(max-width: 576px) {
    .hidden-xs {
        display: none;
    }

}

@media(min-width: 576px) {

    #check-box-1 {
        display: inline;
    }

    #check-box-2 {
        display: inline;
    }

    #check-box-3 {
        display: inline;
    }

    #check-box-4 {
        display: inline;
    }


    ul.points-box-ul>li {
        font-size: 11px;
        padding-right: 10px;
    }

    button.btn.btn-primary.samenstellen {
        right: 180px;
    }
    .hidden-sm {
        display: none;
    }

    .container.footer-container {
        padding:0px;
    }
    .added-column {
        padding: 15px;
    }
}
@media(min-width:768px) {

    #check-box-3 {
        display: inline;
    }

    #check-box-4 {
        display: inline;
    }


    .magazine-image {
        height:300px;
    }

    .block-texteditor {
        padding-left: 0;
    }
    .block-imageeditor {
        padding-left: 0px;
    }

    .block-contact-form {
        padding-left: 0px;
    }

    .container.magazine-container {
        padding:15px;
    }

    .footer-item {
        padding:0px;
    }

    button.btn.btn-primary.samenstellen {
        right: 210px;
    }

    h1 {
        font-size:56px !important;
    }


    h3 {
        font-size:40px !important;
    }

    ul.points-box-ul>li {
        font-size: 12px;
        padding-right: 20px;
    }

    .hidden-md {
        display: none;
    }
    .vissible-md {
        display: block;
    }
}
@media(min-width:992px) {

    .vissible-lg {
        display: block;
    }
    ul.navbar-nav {
        margin-top: 0px;
    }
    .hidden-lg {
        display: none;
    }

    .logo {
        height:45px;
    }

    ul.points-box-ul>li {
        font-size: 12px;
        padding-right: 30px;
    }

    button.btn.btn-primary.samenstellen {
        padding:13px 18px;
        position: relative;
        right: 0;
        top: 0;
    }
}

@media(min-width:1200px) {
    .magazine-image {
        height:400px;
    }
    ul.points-box-ul>li {
        font-size: 14px;
        padding-right: 40px;
    }
}

@media(min-width:1400px) {
    .magazine-image {
        height:100%;
    }
}



a.note-dropdown-item {
    color:black !important;
}
a {
    color:white !important;
    text-decoration: none;
}

.editor-buttons {
    background:white !important;
    color: #1D140C !important;
    border:none !important;
}

.dashboard {
    position: absolute;
    top: 10px;
    left: 50px;
}

img.footer-image {
    height: 124px;
}


.footer-box {
    background-color:#333;
    color: white;
    padding-top: 50px;

}

.footer-row {
    padding:0px;
}



.magazine-row {
    position: relative;
}


.magazine-column {
    padding:10px;
}

.footer-item>p * {
    color: white !important;
}

.footer-item>p *>a:hover {
    color: var(--color-brown) !important;
}


.block-impressions > .added-column {
    padding:0px !important;
}

table.table.table-bordered >tbody>tr>td {
    background:transparent;
    padding:0px;
}
table.table.table-bordered {
    border-color:transparent;
}


.magazine-column {
    color: #1D140C;
}
.form-column{
    padding-left: 0 !important;
    margin-bottom: 15px !important;
}

.striped-link {
    color: #1D140C;
    text-decoration: underline;
}

.row.form-row.checkbox-row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.row.form-row.send-row {
    margin-bottom: 20px;
}
button.btn >a {
    text-decoration: none !important;
}

input.contact-form {
    height: 40px;
    background: transparent;
    border-color: #888;
    color: white;
}

.contact-form:focus {
    box-shadow:none !important;
    border:#888;
}
textarea.contact-form {
    background: transparent;
    border:1px solid #888;
    color: white;
}

.form-control::placeholder {
    color: #888 !important;   /* Your color here */
    opacity: 1 !important;   /* Ensure full visibility */
}

/* You can also target textarea placeholders */
textarea::placeholder {
    color: #888;
    opacity: 0.8;
    border:#888;
}
.previewImg.slider-image {
    background-repeat:no-repeat !important;
    background-position: center center !important;
    background-size:cover !important;
}



div#block-ko14e {
    max-height: 700px;
}

/* Basis container */
.widget-container {
    width: 100%;
}

/* Basis iframe */
.widget-iframe {
    width: 100%;    /* originele widget breedte */
    height: 875px;   /* vaste hoogte */
    border: 0;
    display: block;
}

.giftcard-widget {
    width: 100%;
    max-width: 100%;
    position: relative;
    height:700px;
    overflow: hidden;
}

/* Unieke iframe styling */
.giftcard-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    border: 0;
}


iframe.cadeaubon-iframe {
    height: 700px;
}

/* Scrollbaar vanaf mobiel (max-width: 767px) */
@media (max-width: 767px) {

    iframe.cadeau-iframe {
        min-width:auto !important;
        width:auto !important;
        height:1500px !important;
    }
    /* Zorg dat iframe niet kleiner wordt dan originele breedte */
    .widget-iframe {
        min-width: auto;                /* force scrollbar */
        width: auto;
        height:1500px;/* behoud originele breedte */
    }
}


select.form-control {
    background: #f5f5f5;
    height: 55px;
}

button.btn-primary.btn.magazine-btn {
    padding: 15px;
}

div#succes-alert {
    background: #f5f5f5;
    border-color: #1D140C;
}

.splide__slide_review_text {
    text-align: center;
}

.btn-review {
    margin-top:30px;
    margin-bottom:50px;
}
hr {
    border: 1px solid #d6d6d6 !important;
    opacity: 0.5 !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top {
    background: #000 !important;
    border-bottom: 1px solid #e7e7e7;
    padding-top:20px;
    padding-bottom:20px;
}


.display-none {
    display: none !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    font-weight: bolder;
}

.crewa-logo {
    height: 15px;
    width: 15px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.crewa-logo >a > img {
    height: 20px;
}

a.nav-link {
    font-size: 15px;
    color: white;
}

button.navbar-toggler {
    background:white;
}

@media(max-width: 1550px) {
    a.nav-link {
        font-size: 14px;

    }
    li.nav-item {
        padding-left: 0px !important;
    }
}
@media(max-width: 1550px) {
    a.nav-link {
        font-size: 13px;

    }
}
li.nav-item {
    padding-left: 15px;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* Cursor aanpassen voor niet-klikbare titel */
.navbar .dropdown-toggle {
    cursor: default;
}

span.nav-link.dropdown-toggle {
    color: white;
}

ul.dropdown-menu {
    background: black;
}

a.dropdown-item:hover {
    background: black;
    color:#9a7067 !important
}
.nav-link dropdown-toggle {
    color:red;
}
.pl-4 {
    padding-left: 40px !important;
}

a.dropdown-item.active {
    background: #9a7067 !important;
}

.carousel-caption {
    transform: translateY(-50%);
    padding:0px !important;
}

.slider-block {
    width: 100%;
    overflow: hidden;
    max-height: 500px; /* fallback */
}

.slider-block .carousel-inner,
.slider-block .carousel-item {
    height: 500px;
    max-height: inherit;
}

.slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive optimalisatie */
@media (max-width: 768px) {
    .slider-block {
        max-height: 300px !important;
    }
}

@media (max-width: 576px) {
    .slider-block {
        max-height: 350px !important;
    }

    .carousel-caption.d-md-block {
        bottom:30% !important;
    }

    h1 {
        font-size:38px !important;
    }
}


.slider-block {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 500px;
}

.slider-block .carousel-item {
    height: 100%;
    max-height: inherit;
    position: relative;
}

.slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlay */
.slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* zodat slider interactief blijft */
}

/* Carousel caption blijft boven overlay */
.slider-block .carousel-caption {
    position: absolute;
    z-index: 2;
    right: auto !important;
}

input.form-control {
    background: transparent;
    color:white;
}

textarea.form-control {
    background: transparent;
    color:white;
}
.admin-buttons {
    position: fixed;
    z-index: 9999;
    background: white;
    padding: 10px;
}

span.row-handle {
    color: red;
    font-size: 30px;
}
.note-editor, .pcr-app {
    z-index: 11000 !important; /* boven alle fixed elementen */
}

input.form-control.modal-formfield.form-control.modal-formfield-color {
    width: 50px;
}

input.form-control.modal-formfield {
    color: black;
}


.note-editable,
.note-codable {
    pointer-events: auto !important;
}
.modal  {
    z-index: 9999;
}


.btn.btn-primary {
    background: #4d3631 !important;
    color: white !important;
    border: none !important;
}

.carousel-caption.d-md-block {
    text-align: center !important;
    left: 0;
    width:100%;
}
